/* Navbar Start */
.navbar {
  background-color: #f0f0f0;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.buttons button {
  margin-left: 10px;
  margin-right: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
}
/* Navbar END */

/* Body Start */
.body {
  padding: 20px;
}

.message-box {
  background-color: rgb(193, 242, 193);
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  position: relative;
}
.message-boxnew {
  background-color: rgb(169, 218, 243);
  border: 1px solid rgb(23, 9, 217);
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  position: relative;
}
.transcription {
  white-space: pre-wrap;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: lightblue;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: blue;
  color: white;
}
/* Body End */
